<!-- review-form.component.html -->
<form [formGroup]="reviewForm" (ngSubmit)="onSave()" style="width: auto;">
  <label>NICK:</label>
  <input formControlName="nick" />
  <div *ngIf="reviewForm.get('nick')!.hasError('required') && reviewForm.get('nick')!.touched">
    <p>Pole jest obowiązkowe</p>
  </div>

  <label>Nazwa (wymagane):</label>
  <input formControlName="name" />
  <div *ngIf="reviewForm.get('name')!.hasError('required') && reviewForm.get('name')!.touched">
    <p>Pole jest obowiązkowe</p>
  </div>

  <label *ngIf="!AccountService.checkManager()">Ocena:</label>
  <mat-slider *ngIf="!AccountService.checkManager()" min="0" max="5" discrete>
    <input matSliderThumb formControlName="rating">
  </mat-slider>

  <label>Recenzja (wymagana, min. 50 znaków, max. 500 znaków):</label>
  <textarea formControlName="reviewText"></textarea>
  <div *ngIf="reviewForm.get('reviewText')!.hasError('required') && reviewForm.get('reviewText')!.touched">
    <p>Pole jest obowiązkowe</p>
  </div>
  <div *ngIf="reviewForm.get('reviewText')!.hasError('minlength') && reviewForm.get('reviewText')!.touched">
    <p>Recenzja musi mieć przynajmniej 50 znaków</p>
  </div>
  <div *ngIf="reviewForm.get('reviewText')!.hasError('maxlength') && reviewForm.get('reviewText')!.touched">
    <p>Recenzja musi mieć co najwyżej 500  znaków</p>
  </div>

  <label>Data zakupu:</label>
  <input type="date" formControlName="purchaseDate" />

  <button type="submit">Dodaj recenzję</button>

</form>
