<div class="buttons">
    <button  [routerLink]="['/wycieczki', 'add']" class="add-trip">Dodaj wycieczkę</button>
    <button (click)="openFilterModal()" class="filter">Filtruj</button>
    <button (click)="clearFilters()" class="clear-filter">Wyczyść filtry</button>
      
</div> 
<div class="page-control">
    <div class="center">
        <button class="page-btn" (click)="changePage(-1)">Poprzednia strona</button>
        <button class="page-btn" (click)="changePage(1)">Następna strona</button>
    </div>
    <h4>Ilość wyświetlanych pozycji</h4>
    <div class="paginate">
        <button [ngClass]="{'pag': true, 'pag-active': amountToShow===5}" (click)="setAmountToShow(5)">5</button>
        <button [ngClass]="{'pag': true, 'pag-active': amountToShow===25}" (click)="setAmountToShow(25)">25</button>
        <button [ngClass]="{'pag': true, 'pag-active': amountToShow===50}" (click)="setAmountToShow(50)">50</button>
    </div>
</div>

<div class="page-control">
    <h4>Waluta</h4>
    <div class="paginate">
        <button [ngClass]="{'pag': true, 'pag-active': rate===1}" (click)="setRate(1)">PLN</button>
        <button [ngClass]="{'pag': true, 'pag-active': rate===4.5}" (click)="setRate(4.5)">EUR</button>
        <button [ngClass]="{'pag': true, 'pag-active': rate===4}" (click)="setRate(4)">USD</button>
        <button [ngClass]="{'pag': true, 'pag-active': rate===5}" (click)="setRate(5)">GBP</button>
    </div>
</div>

<div *ngIf="!isLoading" class="wycieczki-container">
    <div *ngFor="let wycieczka of wycieczki | country: filterCountry | date: filterStartDate: filterEndDate | price: filterMinPrice: filterMaxPrice | rating: filterMinRating : filterMaxRating | slicePages: currentPage*amountToShow:  (currentPage+1)*amountToShow" [ngClass]="{'wycieczka': true}">
        <div [routerLink]="['/manager/edit', wycieczka.Id]">
            <img [src]="getPhoto(wycieczka)" alt="Zdjęcie wycieczki" class="round-image">
            <div class="star-container">
                <button mat-icon-button *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" class="star-button">
                    <mat-icon>
                      {{showIcon(wycieczka, i)}}
                    </mat-icon>
                  </button>
            </div>
            <h3>{{ wycieczka.Nazwa | uppercase }}</h3>
            <p>Kraj: {{ wycieczka.Kraj | uppercase }}</p>
            <p>Data: {{ wycieczka.DataRozpoczecia }} - {{ wycieczka.DataZakonczenia }}</p>
            <p>Cena: {{ (wycieczka.CenaJednostkowa / rate) | currency:getCurrency()}} </p>
            <p>Opis: {{ wycieczka.Opis }}</p>
            <p>Dostępne miejsca: {{ wycieczka.IloscMiejsc - this.cart.getReservedNum(wycieczka) }} / {{ wycieczka.MaxIloscMiejsc }}</p>
            <div class="buttons">
                <button class="delete" (click)="deleteTrip(wycieczka, $event)">DELETE</button>
            </div>
        </div>
    </div>
</div>