<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">WYCIECZKI</a>
        <c-dropdown>
            <button cButton>
                <a href="#" routerLink="/cart-page" [ngClass]="{'alot':true, 'little': num_reserved < 10}">Cart {{num_reserved}} </a>
            </button>
            <button cButton cDropdownToggle color="secondary">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul cDropdownMenu>
                <app-widget></app-widget>
            </ul>
          </c-dropdown>
    </div>
</header>
