
header{
    background: white;
    border-bottom: 3px solid #b2945bff;
    padding: 0;
}

a{
    color: #253237ff;
}

a:hover{
    background: #b2945bff;
    color: white;
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a.logo{
    font-weight: bold;
    padding: 1em;
}

.alot {
    color: green;
}

.little {
    color: red;
}

