<div *ngIf="!isLoading" class="wycieczki-container">
    <div *ngFor="let cartItem of cart.items" class="wycieczka">
        <img [src]="getPhoto(cartItem.id)" alt="Zdjęcie wycieczki" class="round-image">
        <div class="info">
            <a href="#" [routerLink]="['/wycieczki', cartItem.trip.Id]"> {{ cartItem.trip.Nazwa | uppercase }} </a>
            <p> Ilość miejsc: {{ cartItem.reservedNum}}</p>
            <p>Subtotal: {{ (cartItem.getTotal() * rate) | currency:getCurrency()}}</p>
            <mat-checkbox [checked]="cartItem.checked" (change)="onChangeCheckbox(cartItem)"> Include </mat-checkbox>
        </div>
        <div class="buttons">
            <button *ngIf="getTrip(cartItem.id).IloscMiejsc > 0" (click)="reservePlace(cartItem.trip, $event)">+</button>
            <button *ngIf="cartItem.reservedNum > 0" (click)="cancelReservation(cartItem.trip, $event)">-</button>
            <button (click)="buy(cartItem.trip)">KUP TERAZ</button>
        </div>
    </div>
    <div class="total">
        {{(cart.getTotal()/ rate) | currency:getCurrency()}}
    </div>
    <button (click)="buyAll()">KUP WSZYSTKIE</button>
</div>