.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wycieczka {
    border: none;
    padding: 10px;
    margin: 30px;
    width: 800px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

.star-button{
    margin: 0 10px;
    background: none;
    color: rgba(122,158,159,0.6);
    scale: 1.5;
    border: none;
    box-shadow: none;
  }

.star-button:hover{
  background: none;
}

h3 {
  font-size: 35px;
  font-weight: bolder;
  color: rgba(122,158,159,0.6);
}

.c-carousel-item img {
  width: auto !important;
  height: 400px;
  max-height: 400px;
}

.oferta{
  font-size: large;
  border-bottom: 2px solid rgba(122,158,159,0.6); 
  border-radius: 5px;
  padding: 5px;
  color: rgba(122,158,159,0.6);
  margin: 15px;

}

.star-container{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}