<form [formGroup]="filtrForm" (ngSubmit)="onSave()" (ngModelChange)="onSave()">
    <label>Lokalizacja:</label>
    <select multiple formControlName="lokalizacja" ngModel>
      <option *ngFor="let lok of lokalizacja" value="{{lok}}">{{ lok }}</option>
    </select>
  
    <label>Cena:</label>
    <mat-slider min={{minPrice}} max={{maxPrice}} discrete > 
      <input matSliderStartThumb formControlName="cenaMin" >
      <input matSliderEndThumb formControlName="cenaMax">
    </mat-slider>
  
    <label>Data:</label>
    <input type="date" formControlName="dataOd">
    <input type="date" formControlName="dataDo">
  
    <label>Ocena:</label>
    <mat-slider min="0" max="5" discrete > 
      <input matSliderThumb formControlName="ocenaMin" >
      <input matSliderEndThumb formControlName="ocenaMax">
    </mat-slider>
  
    <button type="submit">Filtruj</button>
  </form>
  