
header{
    background: white;
    border-bottom: 1px solid #7a9e9f;
    padding: 10px;
}

a{
    color: #4f6367;
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a.logo{
    font-weight: bold;
    padding: 1em;
    font-size: large;
}
.cart{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
    height: 50px;
    background-color: #7a9e9f;
    box-shadow: none;
    border: none;
}

.alot {
    background-color: #9DDF63;
}

.little {
    background-color: #FE5F55;
}

.widget{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    height: 50px;
    background-color: #7a9e9f;
    box-shadow: none;
    border: none;
}

svg{
    margin:0px 5px 0 5px;
}

.profile{
    background-color: none;
    background: none;
    box-shadow: none;
    border: none;
    padding: 20px;
}

li{
    padding: 15px;
    border-bottom: 1px dotted #7a9e9f;
    display: flex;
    align-content: center;
}

.left-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

img{
    width: 60px;
    height: auto;
    margin: 0;
  }
