<header>
    <div class="container">
        <c-dropdown *ngIf="isSmallScreen && isLoggedIn">       
            <button cButton cDropdownToggle style="color: black;" class="profile">
                <img src = "assets/logo.svg" alt="Logo"/>
            </button>
            <ul cDropdownMenu>
                {{userName}}
                <li>
                    <a href="#" routerLink="/" class="oferta">HOME</a>
                </li>
                <li>
                    <a href="#" routerLink="/wycieczki" class="oferta">OFERTA</a>
                </li>
                <li>
                    <a href="#"> profil </a>
                </li>
                <li>
                    <a href="#" routerLink="/historia"><mat-icon>history</mat-icon> historia </a>
                </li>
                <li>
                    <a href="#" routerLink="/login" onclick="logout() ">WYLOGUJ SIĘ</a>
                </li>
            </ul>
        </c-dropdown>
        <c-dropdown *ngIf="isSmallScreen && !isLoggedIn">       
            <button cButton cDropdownToggle style="color: black;" class="profile">
                <img src = "assets/logo.svg" alt="Logo"/>
            </button>
            <ul cDropdownMenu>
                {{userName}}
                <li>
                    <a href="#" routerLink="/" class="oferta">HOME</a>
                </li>
                <li>
                    <a href="#" routerLink="/wycieczki" class="oferta">OFERTA</a>
                </li>
                <li>
                    <a href="#" routerLink="/login">ZALOGUJ SIĘ </a>
                </li>
                <li>
                    <a href="#" routerLink="/register">ZAREJESTRUJ SIĘ </a>
                </li>
            </ul>
        </c-dropdown>
        <div class="left-menu" *ngIf="!isSmallScreen">
            <img src = "assets/logo.svg" alt="Logo"/>
            <a href="#" routerLink="/" class="logo">WYCIECZKI</a>
            <a href="#" routerLink="/wycieczki" class="oferta">OFERTA</a>
            <a href="#" routerLink="/admin" class="oferta">ADMINISTRATOR</a>
            <a href="#" routerLink="/manager" class="oferta">MANAGER</a>
        </div>
        <div class="buttons">
            <c-dropdown *ngIf="!isSmallScreen && !isLoggedIn">
                
                <button cButton cDropdownToggle style="color: black;" class="profile">
                    <mat-icon>face</mat-icon>
                </button>
                <ul cDropdownMenu>
                    <li>
                        <a href="#" routerLink="/login">ZALOGUJ SIĘ </a>
                    </li>
                    <li>
                        <a href="#" routerLink="/register">ZAREJESTRUJ SIĘ </a>
                    </li>
                </ul>
            </c-dropdown>
            <c-dropdown *ngIf="!isSmallScreen && isLoggedIn">
                
                <button cButton cDropdownToggle style="color: black;" class="profile">
                    <mat-icon>face</mat-icon> {{userName}}
                    <mat-icon *ngIf="oncoming">announcement</mat-icon>
                </button>
                <ul cDropdownMenu>
                    <li>
                        <a href="#"> profil </a>
                    </li>
                    <li>
                        <a href="#" routerLink="/historia">
                            <mat-icon>history</mat-icon> 
                            historia  
                            <mat-icon *ngIf="oncoming">announcement</mat-icon> 
                        </a>
                    </li>
                    <li>
                        <button cButton (click)="logout()">WYLOGUJ SIĘ</button>
                    </li>
                </ul>
            </c-dropdown>
            <c-dropdown>
                <button cButton [ngClass]="{'cart': true, 'alot':true, 'little': cart.getAmount() < 10}" href="#" routerLink="/cart-page">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"> 
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 
                        12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 
                        2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 
                        1 0 2 1 1 0 0 1 0-2z"/> </svg> 
                    <a >{{cart.getAmount()}} </a>
                </button>
                <button cButton cDropdownToggle [ngClass]="{'alot':true, 'little': cart.getAmount() < 10}" color="secondary" class="widget">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul cDropdownMenu>
                    <app-widget></app-widget>
                </ul>
            </c-dropdown>
        </div>
    </div>
</header>
