  <form [formGroup]="wycieczkaForm" (ngSubmit)="onSave()">
    <label for="nazwa">Nazwa:</label>
    <input type="text" id="nazwa" formControlName="Nazwa" required>

    <label for="kraj">Kraj:</label>
    <input type="text" id="kraj" formControlName="Kraj" required>

    <label for="dataRozpoczecia">Data Rozpoczęcia:</label>
    <input type="date" id="dataRozpoczecia" formControlName="DataRozpoczecia" required>
  
    <label for="dataZakonczenia">Data Zakończenia:</label>
    <input type="date" id="dataZakonczenia" formControlName="DataZakonczenia" required>
  
    <label for="cenaJednostkowa">Cena Jednostkowa:</label>
    <input type="number" id="cenaJednostkowa" formControlName="CenaJednostkowa" required>
  
    <label for="maxIloscMiejsc">Maksymalna Ilość Miejsc:</label>
    <input type="number" id="maxIloscMiejsc" formControlName="MaxIloscMiejsc" required>
  
    <label for="opis">Opis:</label>
    <textarea id="opis" formControlName="Opis" required></textarea>
  
    <label for="zdjecie">Link do Zdjęcia:</label>
    <input type="text" id="zdjecie" formControlName="Zdjecie" required>

    <button type="submit" [disabled]="wycieczkaForm.invalid">Dodaj Wycieczkę</button>
  </form>