.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box{
  background-image: url(https://images.pexels.com/photos/386009/pexels-photo-386009.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: auto 50em;
  margin: 50px;
  width: 1000px;
  height: 30em;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-top: 70px;
  padding-bottom: 70px;
}

.wizytowka{
  background: rgba(122,158,159,0.6);
  border-radius: 20px;
  padding: 20px;
  width: 1000px;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.full-offer{
  margin: 40px;
  margin-bottom: 0;
  padding: 20px;
  background-color: rgba(122,158,159,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

a{
  color: white;
  font-size: 40px;
}

img{
  width: 100px;
  height: auto;
  margin: 0;
}

.details{
  margin: 20px;
}

.remainder{
  border-radius: 10px;
  border: 1px solid #FE5F55;
  padding: 10px;
  margin: 15px;
  color: #FE5F55;
}

.remainder a{
  color: #FE5F55;
  font-size: medium;
}