<div *ngIf="!isLoading"  class="container">
    <div *ngIf="oncoming" class="remainder" routerLink="/historia">
        <a href="#" routerLink="/historia"> Wycieczka już wkrótce: {{comingName}} {{comingStart}} </a>
        
    </div>
    <div class="box" routerLink="/wycieczki">
        <div class="full-offer" routerLink="/wycieczki">
            <a href="#" routerLink="/wycieczki"> ZOBACZ PEŁNĄ OFERTĘ </a>
        </div>
    </div>
    <div class="wizytowka">
        <img src = "assets/logo.svg" alt="Logo"/>
        <div class="details">
            <h1>FIRMA WYCIECZKI</h1>
            <p>ul.Mistowska 12</p>
            <p>21-370 Miasto</p>
            <p>tel. 213 700 420</p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1208.6623366436027!2d19.920855272254965!3d50.06632500968305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba719777fb3%3A0x9bcdf8eafffde2eb!2sKatedra%20Informatyki%20Stosowanej%2C%20AGH%2C%20C-3!5e0!3m2!1spl!2spl!4v1705003211206!5m2!1spl!2spl" width="400" height="250" style="border:0; border-radius: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>