<div class="wycieczki-container">
    <div *ngFor="let wycieczka of reserved" [ngClass]="{'wycieczka': true}">
        <div>
            <img [src]="wycieczka.Zdjecie" alt="Zdjęcie wycieczki" class="round-image">
            <p>{{ wycieczka.Nazwa | uppercase }} :  {{ reservedMap.get(wycieczka) }}</p>
            <p>Subtotal: {{ wycieczka.CenaJednostkowa * reservedMap.get(wycieczka)! }}</p>
            <button *ngIf="reservedMap.get(wycieczka)! < wycieczka.MaxIloscMiejsc" (click)="reservePlace(wycieczka)">+</button>
            <button *ngIf="reservedMap.get(wycieczka)! > 0" (click)="cancelReservation(wycieczka)">-</button>
            <button (click)="buy(wycieczka)">KUP TERAZ</button>

        </div>
    </div>
    <p>----</p>
    <p>{{total}}</p>
    <p>----</p>
    <button (click)="buyAll()">KUP WSZYSTKIE</button>
</div>