<button (click)="openFormModal()" class="add-trip">Dodaj wycieczkę</button>

<button (click)="openFilterModal()" class="add-trip">Filtruj</button>

<div class="wycieczki-container">
    <div *ngFor="let wycieczka of wycieczki | country: filterCountry | date: filterStartDate: filterEndDate | price: filterMinPrice: filterMaxPrice | rating: filterMinRating : filterMaxRating" [ngClass]="{'wycieczka': true}">
        <div [routerLink]="['/wycieczki', wycieczka.Id]">
            <div [ngClass]="{'hidden': true, 'cheapest': wycieczka === cheapest_trip, 'expensive': wycieczka === expensive_trip}">
                {{wycieczka === cheapest_trip ? 'OKAZJA!' : wycieczka === expensive_trip ? 'WYSOKA PÓŁKA' : ''}}
            </div>

            <div [ngClass]="{'hidden': true, 'almost-gone': wycieczka.MaxIloscMiejsc - (cart.getReservedNum(wycieczka) + ( this.bought.get(wycieczka) || 0)) < 4}">
                OSTATNIE MIEJSCA!
            </div>
            <img [src]="wycieczka.Zdjecie" alt="Zdjęcie wycieczki" class="round-image">
            <div class="star-container">
                <button mat-icon-button *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" class="star-button">
                    <mat-icon>
                      {{showIcon(wycieczka, i)}}
                    </mat-icon>
                  </button>
            </div>
            <h3>{{ wycieczka.Nazwa | uppercase }}</h3>
            <p>Kraj: {{ wycieczka.Kraj | uppercase }}</p>
            <p>Data: {{ wycieczka.DataRozpoczecia }} - {{ wycieczka.DataZakonczenia }}</p>
            <p>Cena: {{ wycieczka.CenaJednostkowa }} zł</p>
            <p>Opis: {{ wycieczka.Opis }}</p>
            <p>Dostępne miejsca: {{ wycieczka.MaxIloscMiejsc - (cart.getReservedNum(wycieczka) + ( this.bought.get(wycieczka) || 0))}} / {{ wycieczka.MaxIloscMiejsc }}</p>
            <div class="buttons">
                <button *ngIf="cart.getReservedNum(wycieczka) + this.bought.get(wycieczka)! < wycieczka.MaxIloscMiejsc" (click)="reservePlace(wycieczka, $event)">+</button>
                <button *ngIf="cart.getReservedNum(wycieczka) > 0" (click)="cancelReservation(wycieczka, $event)">-</button>
                <button class="delete" (click)="deleteTrip(wycieczka)">DELETE</button>
            </div>
        </div>
    </div>
</div>