<div class="buttons">
    <button (click)="toggleFilterState(0)">Nadchodząca</button>
    <button (click)="toggleFilterState(1)">W trakcie</button>
    <button (click)="toggleFilterState(2)">Odbyta</button>
</div>

<div class="history-container"> 
    <div *ngFor="let histItem of history | hist: filterState" [ngClass]="{'hist-item': true}">
        <div class="info">
            <p>{{ getTrip(histItem).Nazwa | uppercase }} </p>
            <p> Kraj: {{ getTrip(histItem).Kraj }}</p>
            <p>Data: {{getTrip(histItem).DataRozpoczecia}} - {{getTrip(histItem).DataZakonczenia}}</p>
            <p>Ilość: {{ histItem.Amount }}</p>
            <p>Subtotal: {{ histItem.Total  }}</p>
            <p>Kupiono: {{ histItem.dateSold }}</p>
        </div>

        <div [ngClass]="{'oncoming': getState(histItem) == 0, 'in-progress': getState(histItem) == 1, 'done': getState(histItem) == 2}" id="state">
            {{ getState(histItem) == 0? "nadchodząca" : getState(histItem) == 1? "w trakcie" : "odbyta" }}
        </div>
    </div>
</div>