.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wycieczka {
    border: none;
    padding: 10px;
    margin: 30px;
    width: 800px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

  .round-image {
    border-radius: 50px;
    width: 250px;  
    height: 250px; 
    margin: 10px;
  }

.star-button{
    margin: 10px;
    background: none;
    color: rgba(122,158,159,0.6);
    scale: 1.5;
    border: none;
    box-shadow: none;
  }

.star-button:hover{
  background: none;
}

button{
  background-color: rgba(122,158,159,0.6);
  padding: 10px;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  color: white;
  margin: 5px;
}

h3 {
  font-size: 35px;
  font-style: italic;
  font-weight: bolder;
  color: rgba(122,158,159,0.6);
}