/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');

.ng-dropdown-panel {
  background-color: rgba(122,158,159,0.9);
  border-bottom: 1px solid white;
  color: white;
  padding: 5px;
  font-size: medium;
  box-sizing: border-box;
  position: absolute;
  opacity: 1;
  width: 100%;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif; 
    font-size: 18px;
    padding: 0;
    background-color: white;
}

a{
    text-decoration: none;
}

button{
    background-color: #4F6367;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    color: white;
    margin: 5px;
  }
  
button:hover{
    background-color: #AFC5C5;
  }

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50em;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

html, body { height: 100%; }
