.wycieczki-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Dla elastyczności, aby elementy były umieszczane w kilku rzędach */
    justify-content: space-around; /* Możesz dostosować to do preferencji rozmieszczenia */
  }

.wycieczka {
    border: 3px solid #ccc;
    padding: 10px;
    margin: 30px;
    width: 300px; /* Dostosuj szerokość wycieczki według preferencji */
    text-align: center;
  }

.wycieczka:hover {
    transform: scale(1.2); /* Powiększ o 10% przy najechaniu kursorem */
  }

.round-image {
    border-radius: 50%;
    width: 100px;  /* Adjust as needed */
    height: 100px; /* Adjust as needed */
  }

.expensive {
    border-color: green;
  }

.cheapest {
    border-color: rgb(128, 0, 0);
  }


  /* Add more styles as needed */
  