.wycieczki-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
  }

.wycieczka {
    border: 3px solid #ccc;
    padding: 10px;
    margin: 30px;
    width: 300px; 
    text-align: center;
  }

.wycieczka:hover {
    transform: scale(1.2); 
  }

.round-image {
    border-radius: 50%;
    width: 100px;  
    height: 100px; 
  }

.expensive {
    border-color: green;
  }

.cheapest {
    border-color: rgb(128, 0, 0);
  }


  /* Add more styles as needed */
  